/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
body {
  font-family: Verdana, Arial, Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W4", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.3em;
  background: #eeeeee url(../img/pattern_noise1_eee.png) repeat 0 0;
  color: #333;
  line-height: 1.4em;
}

/* line 18, ../sass/style.scss */
a {
  color: #063a89;
}

/* line 21, ../sass/style.scss */
.header-wrapper {
  background: #063a89 url(../img/bg_hdr.png) repeat-x 0 0;
}

/* line 24, ../sass/style.scss */
.header {
  width: 950px;
  margin: 0 auto;
  background: url(../img/bg_hdr_main.jpg) no-repeat 0 0;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  font-size: 90%;
  overflow: hidden;
  *zoom: 1;
}

/* line 34, ../sass/style.scss */
.hdr-copy {
  margin-left: 10px;
  margin-top: 0px;
}

/* line 38, ../sass/style.scss */
.hdr-right {
  width: 320px;
  float: right;
  padding-top: 280px;
  margin-right: 35px;
  background: url(../img/bg_sc_hdr.png) no-repeat 20px 50px;
}

/* line 45, ../sass/style.scss */
.btn-pdf a {
  display: block;
  font-size: 125%;
  background: #f9c667 url(../img/icn_pdf.png) no-repeat 17px 10px;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YzY2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNzk2MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* FF3.6+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  /* Chrome,Safari4+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Chrome10+,Safari5.1+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* Opera 11.10+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  /* IE10+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, linear-gradient(to bottom, #f9c667 0%, #f79621 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
  /* IE6-8 */
  height: 60px;
  line-height: 60px;
  border: 1px solid #B5974D;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #353126;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding-left: 65px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

/* line 72, ../sass/style.scss */
.btn-pdf a .mini {
  font-size: 80%;
  font-weight: normal;
}

/* line 76, ../sass/style.scss */
.btn-pdf a:hover {
  color: #000;
  background: #f7d9a3 url(../img/icn_pdf.png) no-repeat 17px 10px;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZDlhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGE3NGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -moz-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  /* FF3.6+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7d9a3), color-stop(100%, #f4a74e));
  /* Chrome,Safari4+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -webkit-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  /* Chrome10+,Safari5.1+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -o-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  /* Opera 11.10+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, -ms-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  /* IE10+ */
  background: url(../img/icn_pdf.png) no-repeat 17px 10px, linear-gradient(to bottom, #f7d9a3 0%, #f4a74e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d9a3', endColorstr='#f4a74e',GradientType=0 );
  /* IE6-8 */
}

/* line 89, ../sass/style.scss */
.header .btn-pdf a {
  margin: 0;
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* FF3.6+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -o-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* Opera 11.10+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* IE10+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
  /* IE6-8 */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, white 1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, white 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, white 1px 1px 0 inset;
  text-shadow: 1px 1px 0 white;
  padding-left: 50px;
  border: 1px solid #888;
}

/* line 106, ../sass/style.scss */
.header .btn-pdf a:hover {
  background: #dddddd;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  /* FF3.6+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -o-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, -ms-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  /* IE10+ */
  background: url(../img/icn_pdf.png) no-repeat 7px 10px, linear-gradient(to bottom, #dddddd 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc',GradientType=0 );
  /* IE6-8 */
}

/* line 118, ../sass/style.scss */
.num {
  font-family: Arial, Helvetica,sans-serif;
  font-weight: bold;
  font-size: 110%;
}

/* line 125, ../sass/style.scss */
.hdr-left {
  margin-left: 35px;
  padding-top: 35px;
  width: 530px;
  float: left;
}

/* line 131, ../sass/style.scss */
#main-nav {
  overflow: hidden;
  *zoom: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #333333;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #333333 0%, #121212 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #121212));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #121212 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #121212 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #121212 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%, #121212 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#121212',GradientType=0 );
  /* IE6-8 */
  text-shadow: -1px -1px 0 black;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0 inset;
  font-size: 90%;
}

/* line 151, ../sass/style.scss */
#main-nav ul {
  width: 860px;
  margin: 0 auto;
  border-left: #000;
  border-right: #000;
}

/* line 157, ../sass/style.scss */
#main-nav li {
  float: left;
  margin-right: 13px;
  padding-right: 13px;
  border-right: 1px solid #000;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) -1px 0px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) -1px 0px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) -1px 0px 0 inset;
}

/* line 166, ../sass/style.scss */
#main-nav a:hover {
  color: #f6c743;
  text-shadow: 0px 0px 4px white;
}

/* line 170, ../sass/style.scss */
#main-nav a {
  color: #FFF;
  text-decoration: none;
}

/*
#main-nav-holder {
  height: 50px;
  overflow: hidden;
  @include box-shadow(rgba(0,0,0,1) 2px 2px 10px);
}
*/
/* line 181, ../sass/style.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
}

/* line 189, ../sass/style.scss */
.content {
  width: 880px;
  margin: 30px auto;
  text-shadow: 1px 1px 0 white;
}

/* line 194, ../sass/style.scss */
h2 {
  background: url(../img/icn_h2.png) no-repeat left top;
  font-size: 160%;
  font-weight: normal;
  color: #063a89;
  padding-left: 50px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: white 0px -1px 0 inset;
  -moz-box-shadow: white 0px -1px 0 inset;
  box-shadow: white 0px -1px 0 inset;
}

/* line 206, ../sass/style.scss */
h3 {
  font-size: 110%;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px dotted #333;
  margin-bottom: 10px;
}

/* line 213, ../sass/style.scss */
.cont-box {
  margin-left: 180px;
}

/* line 216, ../sass/style.scss */
.sentence {
  margin-bottom: 20px;
}

/* line 219, ../sass/style.scss */
.section {
  margin-bottom: 40px;
  padding-top: 60px;
  margin-top: -60px;
}

/* line 224, ../sass/style.scss */
.pict-box {
  border: 1px solid #ccc;
  -webkit-box-shadow: white 1px 1px 0;
  -moz-box-shadow: white 1px 1px 0;
  box-shadow: white 1px 1px 0;
  background: #FFF;
  padding: 20px;
}
/* line 229, ../sass/style.scss */
.pict-box .point {
  margin-top: 20px;
  color: #C00;
  font-weight: bold;
}

/* line 235, ../sass/style.scss */
.features li a {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: white 0px -1px 0 inset;
  -moz-box-shadow: white 0px -1px 0 inset;
  box-shadow: white 0px -1px 0 inset;
}

/* line 242, ../sass/style.scss */
.section-point h2 {
  border-bottom: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0px -1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0px -1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0) 0px -1px 0 inset;
  padding-left: 180px;
  background: none;
  padding-top: 20px;
}

/* line 249, ../sass/style.scss */
.section-point {
  background: url(../img/icn_point1.png) no-repeat 10px 60px;
}

/* line 252, ../sass/style.scss */
.section-point#point2 {
  background: url(../img/icn_point2.png) no-repeat 10px 60px;
}

/* line 255, ../sass/style.scss */
.section-point#point3 {
  background: url(../img/icn_point3.png) no-repeat 10px 60px;
}

/* line 258, ../sass/style.scss */
.list-normal li {
  margin-bottom: 7px;
  background: url(../img/icn_list.png) no-repeat left 0.5em;
  padding-left: 10px;
}

/* line 263, ../sass/style.scss */
.reason-box {
  background: rgba(0, 0, 0, 0.1) url(../img/icn_reason.png) no-repeat 10px 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  padding-left: 70px;
  padding-bottom: 0px;
  -webkit-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  -moz-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  font-size: 90%;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  color: #222;
}

/* line 277, ../sass/style.scss */
#point1 .reason-box-left, #point2 .reason-box-left {
  padding-right: 210px;
}

/* line 280, ../sass/style.scss */
#point2 .reason-box-left {
  padding-right: 120px;
}

/* line 283, ../sass/style.scss */
#point1 .reason-box-left {
  background: url(../img/pic_p1_r.png) no-repeat right top;
}

/* line 286, ../sass/style.scss */
#point2 .reason-box-left {
  background: url(../img/pic_p2_r.png) no-repeat right top;
}

/* line 289, ../sass/style.scss */
.reason-box h3 {
  color: #063a89;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 7px;
  padding-top: 7px;
  border-bottom: none;
}

/* line 297, ../sass/style.scss */
.pict-box {
  overflow: hidden;
  *zoom: 1;
}

/* line 300, ../sass/style.scss */
.flow-box {
  overflow: hidden;
  *zoom: 1;
}

/* line 303, ../sass/style.scss */
.left-box {
  width: 120px;
  float: left;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fce8a1;
}

/* line 310, ../sass/style.scss */
.right-box {
  width: 518px;
  float: right;
}

/* line 314, ../sass/style.scss */
.pict-section p {
  margin-left: 15px;
  padding: 0;
}

/* line 318, ../sass/style.scss */
.pict-section {
  margin-bottom: 30px;
}

/* line 321, ../sass/style.scss */
.pict-section.last {
  margin-bottom: 0;
}

/* line 324, ../sass/style.scss */
.left-box h4 {
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  background: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  line-height: 1.3em;
}

/* line 334, ../sass/style.scss */
.left-box h4 .mini {
  font-size: 70%;
  font-weight: normal;
}

/* line 338, ../sass/style.scss */
.flow-left-caps {
  font-size: 80%;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 1.3em;
  color: #000;
}

/* line 344, ../sass/style.scss */
.flow-left-pic {
  text-align: center;
}

/* line 347, ../sass/style.scss */
.flow-box .right-box h3 {
  background: url(../img/baloon_fwd_orange.png) no-repeat left top;
  border: none;
  padding-left: 15px;
}

/* line 353, ../sass/style.scss */
.flow-box .right-box h3 .num {
  color: #FFF;
  background: #F39800;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 364, ../sass/style.scss */
.flow-box .right-box {
  padding-top: 10px;
}

/* line 367, ../sass/style.scss */
.flow-caps {
  font-size: 80%;
}

/* line 370, ../sass/style.scss */
.flow-box .flow-allow {
  background: url(../img/icn_allow.png) no-repeat 240px top;
  height: 43px;
  margin-top: 10px;
  padding-left: 280px;
  padding-top: 5px;
  font-weight: bold;
  color: #C30D23;
}

/* line 379, ../sass/style.scss */
.flow-sc {
  padding-bottom: 0;
  margin-bottom: 7px;
}

/* line 383, ../sass/style.scss */
.flow-box {
  margin-bottom: 20px;
}

/* line 386, ../sass/style.scss */
.flow-allow-tsuuchi {
  text-align: center;
}

/* line 389, ../sass/style.scss */
.flow-box.green {
  margin-bottom: 0;
}

/* line 392, ../sass/style.scss */
.flow-box.green .left-box {
  background: #dfebc5;
}

/* line 395, ../sass/style.scss */
.flow-box.green .right-box h3 {
  background: url(../img/baloon_fwd_green.png) no-repeat left top;
}

/* line 399, ../sass/style.scss */
.flow-saigaihassei {
  height: 140px;
  background: url(../img/flow_saigaihassei.png) no-repeat center top;
  text-indent: -9999px;
}

/* line 404, ../sass/style.scss */
#scene .pict-box {
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}

/* line 409, ../sass/style.scss */
#scene .pict-box .scene-pict {
  float: left;
  margin-right: 20px;
}

/* line 413, ../sass/style.scss */
#scene .pict-box .sentence {
  line-height: 1.7em;
  font-size: 95%;
  margin-top: 10px;
}

/* line 418, ../sass/style.scss */
h3.question {
  color: #063a89;
  border-bottom: none;
  font-size: 120%;
  font-weight: normal;
}

/* line 424, ../sass/style.scss */
h3.question .question-q {
  font-size: 200%;
  font-family: serif;
  margin-right: 5px;
  font-weight: bold;
}

/* line 430, ../sass/style.scss */
.answer-a {
  font-size: 240%;
  font-family: serif;
  font-weight: bold;
  margin-right: 10px;
  float: left;
  color: #F39800;
  margin-top: 10px;
}

/* line 439, ../sass/style.scss */
.sentence.answer {
  background: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  -moz-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 90%;
  margin-bottom: 30px;
}

/* line 452, ../sass/style.scss */
.footer-company {
  border-top: 1px solid #CCC;
  -webkit-box-shadow: white 0px 1px 0 inset, rgba(0, 0, 0, 0.2) -2px 0px 10px;
  -moz-box-shadow: white 0px 1px 0 inset, rgba(0, 0, 0, 0.2) -2px 0px 10px;
  box-shadow: white 0px 1px 0 inset, rgba(0, 0, 0, 0.2) -2px 0px 10px;
  background: url(../img/pattern_noise_ftr.png) repeat left top;
  padding: 30px 0;
  font-size: 90%;
  padding-bottom: 50px;
}

/* line 460, ../sass/style.scss */
.footer-company .section {
  width: 880px;
  margin: 0 auto;
  margin-top: -60px;
}

/* line 465, ../sass/style.scss */
#company .members li {
  float: left;
  margin-left: 20px;
}

/* line 469, ../sass/style.scss */
#company .members {
  overflow: hidden;
  *zoom: 1;
  float: right;
}

/* line 473, ../sass/style.scss */
#company .members .image img {
  width: 120px;
  height: 120px;
}

/* line 477, ../sass/style.scss */
#company .members .image {
  border: 1px solid #ccc;
  -webkit-box-shadow: white 1px 1px 0;
  -moz-box-shadow: white 1px 1px 0;
  box-shadow: white 1px 1px 0;
  height: 120px;
}

/* line 482, ../sass/style.scss */
#company .members h4 {
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.2em;
  margin-top: 5px;
}

/* line 489, ../sass/style.scss */
#company .footer-left {
  width: 450px;
  float: left;
}

/* line 493, ../sass/style.scss */
.footer-upper {
  overflow: hidden;
  *zoom: 1;
}

/* line 496, ../sass/style.scss */
#company .logo {
  margin-bottom: 10px;
}

/* line 499, ../sass/style.scss */
#company .members p {
  font-size: 90%;
}

/* line 502, ../sass/style.scss */
#company .why {
  width: 730px;
  background: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  -moz-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 10px inset;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

/* line 511, ../sass/style.scss */
#company h2 {
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 894, ../sass/basic.sass */
/* line 516, ../sass/style.scss */
#footer {
  background: #333333;
  padding: 20px 0;
}

/* line 897, ../sass/basic.sass */
/* line 521, ../sass/style.scss */
#footer ul {
  width: 960px;
  margin: 0 auto;
  display: block;
}

/* line 901, ../sass/basic.sass */
/* line 527, ../sass/style.scss */
#footer ul li {
  display: inline;
}

/* line 903, ../sass/basic.sass */
/* line 531, ../sass/style.scss */
#footer ul li a {
  color: #cccccc;
  margin: 0 20px 0 0;
}

/* line 49, ../sass/mixins.sass */
/* line 536, ../sass/style.scss */
#footer ul li a:link, #footer ul li a:visited {
  text-decoration: none;
}

/* line 52, ../sass/mixins.sass */
/* line 540, ../sass/style.scss */
#footer ul li a:hover, #footer ul li a:active {
  text-decoration: underline;
}

/* line 41, ../sass/global_nav.sass */
/* line 544, ../sass/style.scss */
.top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 25px;
  padding-top: 25px;
  line-height: 25px;
  background: #333333;
  color: #888888;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(../PIE.htc);
}

/* line 60, ../sass/global_nav.sass */
/* line 565, ../sass/style.scss */
.top:before {
  position: absolute;
  top: 11px;
  left: 14px;
  content: "";
  border-bottom: 11px solid #888888;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

/* line 68, ../sass/global_nav.sass */
/* line 575, ../sass/style.scss */
.top:hover {
  color: #eeeeee;
}

/* line 70, ../sass/global_nav.sass */
/* line 579, ../sass/style.scss */
.top:hover:before {
  border-bottom-color: #eeeeee;
}

/* line 73, ../sass/global_nav.sass */
/* line 584, ../sass/style.scss */
.opacity .top {
  opacity: 1;
  -webkit-transition: opacity 700ms linear;
  -moz-transition: opacity 700ms linear;
  transition: opacity 700ms linear;
}

/* line 78, ../sass/global_nav.sass */
/* line 591, ../sass/style.scss */
.opacity .top.hidden {
  opacity: 0;
}

/* line 81, ../sass/global_nav.sass */
/* line 596, ../sass/style.scss */
.no-opacity .top.hidden {
  display: none;
}

/* line 599, ../sass/style.scss */
table {
  border: 1px solid #CCC;
  width: 100%;
}

/* line 603, ../sass/style.scss */
td, th {
  border: 1px solid #CCC;
  padding: 5px 10px;
}

/* line 607, ../sass/style.scss */
th {
  text-align: center;
  font-weight: bold;
  background: #9FA0A0;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 614, ../sass/style.scss */
td {
  font-size: 90%;
}

/* line 617, ../sass/style.scss */
th.strong {
  background: #063a89;
}

/* line 620, ../sass/style.scss */
td.strong {
  background: #F9F6CF;
  font-weight: bold;
}

/* line 624, ../sass/style.scss */
table.point1-table td {
  text-align: center;
  width: 335px;
}

/* line 628, ../sass/style.scss */
.contact form {
  margin-bottom: 20px;
}

/* line 631, ../sass/style.scss */
textarea, input[type="text"], input[type="password"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 2px inset;
  -moz-box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 2px inset;
  box-shadow: white 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 2px inset;
  border: 1px solid #CCC;
  font-size: 14px;
  padding: 5px;
}

/* line 638, ../sass/style.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #52bcec;
  background: #faf1ca;
  -webkit-box-shadow: rgba(0, 152, 221, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 152, 221, 0.5) 0 0 5px;
  box-shadow: rgba(0, 152, 221, 0.5) 0 0 5px;
}

/* line 643, ../sass/style.scss */
input[type="text"], input[type="password"] {
  height: 24px;
  line-height: 24px;
}

/* line 647, ../sass/style.scss */
.contact textarea, #contact input[type="text"], #contact input[type="password"] {
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 651, ../sass/style.scss */
.contact textarea {
  width: 650px;
}

/* line 654, ../sass/style.scss */
.contact input[type="text"], #contact input[type="password"] {
  width: 350px;
}

/* line 657, ../sass/style.scss */
input[type="submit"] {
  background-color: #f9c667;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9C667', endColorstr='#FFF79621');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  background-image: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background-image: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background-image: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background-image: linear-gradient(top, #f9c667 0%, #f79621 100%);
  font-size: 120%;
  font-weight: bold;
  border: 1px solid #B5974D;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px, rgba(255, 255, 255, 0.4) 1px 1px 0 inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #353126;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  height: 50px;
  line-height: 50px;
}

/* line 672, ../sass/style.scss */
input[type="submit"]:hover {
  background-color: #f7d9a3;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7D9A3', endColorstr='#FFF4A74E');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7d9a3), color-stop(100%, #f4a74e));
  background-image: -webkit-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  background-image: -moz-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  background-image: -o-linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  background-image: linear-gradient(top, #f7d9a3 0%, #f4a74e 100%);
  color: #000;
  cursor: pointer;
}

/* line 680, ../sass/style.scss */
.contact input[type="submit"] {
  margin-top: 20px;
  width: 200px;
  margin-bottom: 20px;
}

/* line 685, ../sass/style.scss */
.red {
  color: #C00;
}

/* line 688, ../sass/style.scss */
.caution {
  margin-bottom: 10px;
}

/* line 691, ../sass/style.scss */
#footer {
  font-size: 90%;
}

/* line 694, ../sass/style.scss */
.download {
  background: white url(../img/icn_pdf.png) no-repeat 10px 10px;
  border: 3px solid #f9c667;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0px, white 1px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0px, white 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0px, white 1px 1px 0;
  margin-top: 30px;
}

/* line 702, ../sass/style.scss */
.download input[type="text"] {
  width: 400px;
  margin-left: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 120%;
}

/* line 709, ../sass/style.scss */
.download input[type="submit"] {
  font-size: 100%;
  height: 36px;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
  margin-top: 20px;
}

/* line 717, ../sass/style.scss */
.download label {
  font-size: 85%;
}

/* line 720, ../sass/style.scss */
.download .text {
  font-size: 85%;
  font-weight: bold;
  margin-left: 45px;
  padding-top: 10px;
}

/* line 726, ../sass/style.scss */
.download .strong {
  font-size: 120%;
  color: #C00;
  margin-right: 5px;
}

/* line 731, ../sass/style.scss */
#contact .download .text {
  margin-bottom: 0;
}

/* line 734, ../sass/style.scss */
.footer-company .download {
  font-size: 115%;
  width: 750px;
}

/* line 738, ../sass/style.scss */
.social_buttons {
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden;
  *zoom: 1;
}

/* line 743, ../sass/style.scss */
.social_buttons li {
  float: left;
  margin-right: 10px;
}

/* line 747, ../sass/style.scss */
#download-wrapper {
  padding-top: 60px;
  margin-top: -60px;
}

/* line 751, ../sass/style.scss */
.pict-box2 {
  padding: 5px 10px;
}

/* line 754, ../sass/style.scss */
.small {
  font-size: 12px;
}
